<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FlexibleConfiguration" version="1.1.0" targetFramework="net451" />
  <package id="Polyglot" version="1.1.0" targetFramework="net451" />
  <package id="Stormpath.Configuration" version="5.1.0" targetFramework="net451" />
  <package id="Stormpath.Configuration.Abstractions" version="5.1.0" targetFramework="net451" />
  <package id="YamlDotNet" version="3.8.0" targetFramework="net451" />
</packages>