.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.playlist
/Stormpath.SDK/LocalDemos

# Output directory for compiled nuget packages
nuget-pack

# Xamarin nuget cache
Stormpath.SDK/.nuget/

# Generated API docs
docs/api

# Diff backup files from ApiApprover
*.cs.bak