<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Extensions.Caching.Abstractions" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Caching.Memory" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Configuration" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Configuration.Contrib.Stormpath.EnvironmentVariables" version="0.1.0-beta5" targetFramework="net451" />
  <package id="Microsoft.Extensions.Configuration.Contrib.Stormpath.ObjectReflection" version="0.1.0-beta5" targetFramework="net451" />
  <package id="Microsoft.Extensions.Configuration.Contrib.Stormpath.PropertiesFile" version="0.1.0-beta5" targetFramework="net451" />
  <package id="Microsoft.Extensions.Configuration.Contrib.Stormpath.Yaml" version="0.1.0-beta5" targetFramework="net451" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Configuration.Ini" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Configuration.Json" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.OptionsModel" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.PlatformAbstractions" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Microsoft.Extensions.Primitives" version="1.0.0-rc1-final" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net451" />
  <package id="Polyglot" version="1.0.0-beta1" targetFramework="net451" />
  <package id="Stormpath.Configuration" version="0.1.0-beta5" targetFramework="net451" />
  <package id="Stormpath.Configuration.Abstractions" version="0.1.0-beta5" targetFramework="net451" />
  <package id="Stormpath.SDK.Abstractions" version="0.6.0-beta1" targetFramework="net451" />
  <package id="System.Reflection" version="4.1.0-beta-23516" targetFramework="net451" />
  <package id="YamlDotNet" version="3.8.0" targetFramework="net451" />
</packages>
