<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="NSubstitute" version="1.9.1.0" targetFramework="net45" />
  <package id="Remotion.Linq" version="1.15.15.0" targetFramework="net45" />
  <package id="Shouldly" version="2.6.0" targetFramework="net45" />
  <package id="StyleCop.Analyzers" version="1.0.0-beta013" targetFramework="net45" developmentDependency="true" />
  <package id="xunit" version="2.0.0" targetFramework="net45" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net45" />
  <package id="xunit.assert" version="2.0.0" targetFramework="net45" />
  <package id="xunit.core" version="2.0.0" targetFramework="net45" />
  <package id="xunit.extensibility.core" version="2.0.0" targetFramework="net45" />
  <package id="xunit.runner.console" version="2.1.0-rc2-build3176" targetFramework="net45" />
  <package id="xunit.runner.visualstudio" version="2.1.0-rc2-build1126" targetFramework="net45" />
</packages>